#sidebar-menu {
    padding: 0;
    position: fixed;
    left: 0;
    width: 16.66%;
    height: 100%;
    background-color: #2d2d2d;
}

#sidebar-menu > .card {
    margin: 0;
}

#sidebar-menu,
#sidebar-menu .card-header, 
#sidebar-menu .card-block {
    background-color: #2d2d2d;
}

#sidebar-menu .card-header,
#sidebar-menu .card-block {
    color: #c9c9c9;
}

#sidebar-menu .card > a {
    text-decoration: none;
}

#sidebar-menu .card {
    border: 0;
}

#sidebar-menu .card:hover .card-header {
    background-color: #494949;
    cursor: pointer;
}

#sidebar-menu .card-block {
    padding: 0 0 0 1.5em;
}

#sidebar-menu .card-block p {
    margin: 0;
}

.content {
    margin-left: 16.66%;
}