<nav>
    <h3 class="title">NetAdmin</h3>
    <ul>
        <li *ngFor="let database of databases">
            <a> <!--click.delegate="$parent.click(database)">-->
                <i class="fa fa-database" aria-hidden="true"></i> {{database}}
            </a>
            <ul class="hidden">
                <!--<li *ngFor="let table of database.tables">
                    <i class="fa fa-table" aria-hidden="true"></i> {{table}}
                </li>-->
            </ul>
        </li>
    </ul>
</nav>